/************************************ORDER OF THE PAGE***************************/

html { height: 100%; overflow-x:hidden; overflow-y: auto; }
body { height: 100%; }

 *, :before, :after {
	 box-sizing: border-box;
}

.overlay{
    width:100%;
	max-height: 100vh;
	height: 100vh;
    top:0px;
    left:0px;
	overflow: hidden;
    z-index:1000;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.right-side{
	height:100%;
	background-color: rgb(3,142,254);
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.welcome{
	margin-top: 40vh;
	margin-bottom: 50vh;
	
}


.section-two{
	margin-bottom: 50vh;
}

.section-three{
	margin-bottom: 50vh;
}

.section-four{
	margin-bottom: 25vh;
}

/************************************ORDER OF THE PAGE***************************/

.ctitle{
	color:#fff
}

.ctext{
	color:#fff;
}

.cbody{
	background-color: #3c3735;
}

.litem{
	border: #35302d 10px ;
	margin-bottom: 10px;
}

.title{
	color:#fff
}

.title-span{
	transition: 0.15s linear color;
}

.title-span:hover{
	color:#df4500
}

/**************************************SIDEBAR********************************************/

 .header {
	 left: 0;
	 top: 0;
	 bottom: 0;
	 background: #3c3735;
}

 .logo {
	 font: 300 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
	 text-align: center;
	 padding: 0;
	 margin: 0;
}
 .logo a {
	 display: block;
	 padding: 1em 0;
	 color: #dfdbd9;
	 text-decoration: none;
	 transition: 0.15s linear color;
}
 .logo a:hover {
	 color: #fff;
}
 .logo a:hover span {
	 color: #df4500;
}
 .logo span {
	 font-weight: 700;
	 transition: 0.15s linear color;
}
 .main-nav ul {
	 border-top: solid 1px #3c3735;
	 margin-top: 50%;
}
 .main-nav li {
	 border-bottom: solid 1px #3c3735;
}
 .main-nav a {
	 padding: 1.1em 0;
	 color: #dfdbd9;
	 font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
	 text-align: center;
}
 .main-nav a:hover {
	 color: #fff;
}
 .list-hover-slide li {
	 position: relative;
	 overflow: hidden;
}
 .list-hover-slide a {
	 display: block;
	 position: relative;
	 z-index: 1;
	 transition: 0.35s ease color;
}
 .list-hover-slide a:before {
	 content: "";
	 display: block;
	 z-index: -1;
	 position: absolute;
	 left: -100%;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 border-right: solid 5px #df4500;
	 background: #3c3735;
	 transition: 0.35s ease left;
}
 .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
	 left: 0;
}
/**************************************SIDEBAR********************************************/

  
@media (max-width: 768px) {
	.header{
		display: none;
	}
	.right-side{
		position: absolute;
	}

}